.cartContainer {
  padding: 30px;
  padding-bottom: 100px;
  background-color: rgb(112, 108, 108);
  min-height: 90vh;
}
.cartEachCont{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.cartEachProduct {
  border: 1px solid gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  width: 70%;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.imgnameprice {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
}
.cartEachProduct img {
  height: 80px;
  width: 80px;
}
.Cname {
  font-size: 17px;
  font-weight: 500;
  color: beige;
}
.Cprice {
  font-size: 15px;
  font-weight: 500;
  color: gold;
}
.totalprice {
  text-align: center;
  padding: 20px 30px;
}
.totalprice h3 {
  font-size: 30px;
  font-weight: 600;
  color: gold;
}
.cartIcon{
  font-size: 70px;
  color: rgb(209, 156, 21);
}
.gotomenubutton{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}