.mainContainer {
  background-color: #1877f2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.mainName {
  display: flex;
  gap: 5px;
}
.planetIcon {
  height: 40px;
  width: 40px;
  color: gold;
}
.mainName a {
  text-decoration: none;
}
.mainName h2 {
  color: white;
}
.LinkbuttonsCont {
  margin-right: 70px;
  display: flex;
  gap: 50px;
}
.LinkbuttonsCont button {
  font-weight: 600;
}
